@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    color: rgb(26, 26, 26);
}

body, p, h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
}

body {
    background-color: rgb(17, 17, 71);
    font-size: 14pt;
}

.sidebar-link {
    font-size: 14pt;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
}

.section a {
    color: #174281;
}

#parchment-wrapper {
    position: relative;
    width: 75%;
    min-height: calc((1vw + 1vh) * 75);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 2em 0;
    display: flex;
}

#parchment-bg {
    position: absolute;
    inset: 0;
    background: #fffef0;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    filter: url(#wavy);
    z-index: -1;
}

#parchment-content {
    position: relative;
    padding-left: 1rem;
    z-index: 1;
    width: 75%;
    box-sizing: border-box;
}

#sidebar {
    width: 25%;
    padding: 10px;
    margin: 1rem;
    border-right: rgb(26, 26, 26);
    border-right-style: dashed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.section {
    display: none;
}

.active {
    display: block;
}

pre, hr {
    margin-right: 2em;
}

pre {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 10px;
}

code {
    font-family: "Ubuntu Mono", monospace !important;
    font-size: 12pt;
}

.category ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}